.navbar-brand,
.nav-link {
  color: brown;
}

.nav-link:hover {
  color: lightgrey;
}

#navLinkRecords,
#navLinkAccount {
  cursor: pointer;
}

.navLinkRecords,
.navLinkAccount {
  cursor: pointer;
}

.button-logout {
  text-decoration: none;
}

.button-logout:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.see-all {
  text-decoration: none;
  color: green;
}
.see-all:hover {
  text-decoration: underline;
  color: green;
}
