.no-account,
.have-account,
.forgot-password,
.resend-verification-code {
  text-decoration: none;
  color: green;
}

.no-account:hover,
.have-account:hover,
.forgot-password:hover,
.resend-verification-code:hover {
  text-decoration: underline;
  color: green;
  cursor: pointer;
}

.button-cancel {
  text-decoration: none;
  color: white;
}
